* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f5b759;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #f5b759;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  margin-bottom: 20px;
}

.nav .logo {
  color: white;
  font-size: 2rem;
  line-height: 80px;
  padding: 0 100px;
  display: inline;
}

.nav .nav-menu {
  float: right;
  margin-right: 100px;

}

.nav .nav-menu .nav-item {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  list-style: none;
}

.nav .nav-menu .nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav .nav-menu .nav-item a:hover {
  text-shadow: 0 0 5px #ffffff;
  transition: .3s;
}

.hamburger {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


.footer {
  width: 100%;

  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #3d3d3d;
}


.upperfooter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.address {
  height: 90px;
  width: 400px;
  /* background-color: aqua; */
}

.address h3 {
  color: #797878;
  padding: 5px;
}

.address p {
  color: #797878;
  margin-top: 5px;
  font-size: .8rem;
}

.randquote {
  height: 90px;
  width: 400px;
  /* background-color: aqua; */
}

.randquote h3 {
  color: #797878;
  padding: 5px;
}

.randquote p {
  color: #797878;
  margin-top: 5px;
  font-size: .8rem;
}

.socials {
  list-style-type: none;
  display: flex;
  gap: 45px;
  padding-top: 15px;
}

.socials .copyright-text {
  color: #797878;
  font-size: .8rem;
}

.socials .social .symbol {
  font-size: 1.5rem;
  color: #797878;
}

.socials .social .symbol:hover {
  color: white;
}

.container {
  display: flex;
  /* background-color: #a50808; */
  justify-content: space-around;
  width: 90%;
  height: 700px;
  margin: auto;
}

.box {
  height: 590px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  background-color: #f2f2f2;

}

.left-promo {
  padding: 10px 20px;
}

.right-promo {
  padding: 10px 20px;
}

.left-promo h1 {
  text-align: center;
}

.right-promo h1 {
  text-align: center;
}

.promo-details {
  color: #626262;
  text-align: center;
  width: 400px;
  margin: auto;
}

.promo-pic {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.price {
  font-size: 25px;
  font-weight: bold;
  color: #363636;
  text-shadow: 0 0 10px #00ff00;
  animation: glowing 2s infinite;
  margin-bottom: 20px;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #00ff00;
  }

  50% {
    text-shadow: 0 0 20px #00ff00;
  }

  100% {
    text-shadow: 0 0 10px #00ff00;
  }
}

.order-btn {
  padding: 9px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #4a8cf5;
}

/* responsive css */
@media (max-width:972px) {
  .nav .logo {
    font-size: 1.5rem;
    padding-left: 30px;
  }

  .nav .nav-menu .nav-item a {
    font-size: 1rem;
  }

  .upperfooter {
    flex-direction: column;
    align-items: center;
  }

  .upperfooter .address h3 {
    font-size: .9rem;
  }

  .upperfooter .address p {
    font-size: .6rem;
  }

  .upperfooter .randquote h3 {
    font-size: .9rem;
  }

  .upperfooter .randquote p {
    font-size: .6rem;
  }

  .socials .social .symbol {
    font-size: 1rem;
    gap: 10px;
  }

  .socials .copyright-text {
    font-size: .6rem;
  }
}

@media (max-width:972px) {
  body {
    height: 1400px;
  }

  .container {
    flex-direction: column;
    margin-top: 170px;
  }

  .box {
    height: 500px;
    width: 410px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #f2f2f2;
    margin: auto;

    margin-bottom: 20px;
  }

  .left-promo {
    padding: 10px 20px;
  }

  .right-promo {
    padding: 10px 20px;
  }

  .left-promo h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .right-promo h1 {
    text-align: center;
    font-size: 1.3rem;
  }

  .promo-details {
    color: #626262;
    text-align: center;
    width: 400px;
    margin: auto;
  }

  .promo-pic {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #363636;
    text-shadow: 0 0 10px #00ff00;
    animation: glowing 2s infinite;
    margin-bottom: 20px;
    margin-left: 110px;
  }

  .order-btn {
    margin-left: 130px;
  }
}


@media (max-width:858px) {
  .hamburger {
    display: block;
  }

  .nav .nav-menu {
    position: fixed;
    width: 100%;
    height: 55vh;
    background-color: #222222;
    top: 80px;
    left: 200%;
    text-align: center;
    transition: all .5s;
  }

  .nav .nav-menu .nav-item {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .nav .nav-menu .nav-item a {
    font-size: 1rem;
  }

  .nav .nav-menu .nav-item a:hover {
    border-bottom: 2px solid white;
    transition: .2s;
    text-shadow: none;
  }

  #check:checked~.nav-menu {
    left: 0;
  }
}

@media (max-width:400px) {
  .container {
    flex-direction: column;
    margin-top: 120px;
  }

  .box {
    height: 500px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #f2f2f2;
    margin: auto;

    margin-bottom: 20px;
  }

  .left-promo {
    padding: 10px 20px;
  }

  .right-promo {
    padding: 10px 20px;
  }

  .left-promo h1 {
    text-align: center;
    font-size: 1.2rem;
  }

  .right-promo h1 {
    text-align: center;
    font-size: 1.2rem;
  }

  .promo-details {
    color: #626262;
    text-align: center;
    width: 280px;
    font-size: .9rem;
    margin: auto;
  }

  .promo-pic {
    width: 270px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .price {
    font-size: 15px;
    font-weight: bold;
    color: #363636;
    text-shadow: 0 0 10px #00ff00;
    animation: glowing 2s infinite;
    margin-bottom: 20px;
    margin-left: 70px;
  }

  .order-btn {
    margin-left: 80px;
  }
}

/* footer 400px */
@media (max-width:400px) {
  .upperfooter .address h3 {
    font-size: .7rem;
  }

  .upperfooter .address p {
    font-size: .6rem;
  }

  .upperfooter .randquote h3 {
    font-size: .7rem;
  }

  .upperfooter .randquote p {
    font-size: .6rem;
  }

  .socials .social .symbol {
    font-size: 1rem;
    gap: 10px;
  }

  .socials .copyright-text {
    font-size: .6rem;
  }
}